.navbar{
    display: inline-block;
    background-color: white;
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgb(185, 185, 185);
    margin-bottom: 10px;
    vertical-align: middle;
}

#logo{
    max-height: 80px;
    margin: 0;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: gold;
    font-size: 100%;
    background: none;
    font-family: cursive;
    margin: 1%;
}

.active{
    font-weight: bold;
}